/.idea/
/.vscode/
/node_modules/
/allure-results/
/allure-report/
/allure-results/**
/allure-report/**
/test-results/
/playwright-report/
playwright-report/**
test-results/
test-results/**
/**/*.js
/**/*.js.map
*.iml
*.log
state.json
storageState.json